// Lua script to launch on boot
boot_script = "boot"

// Package to load on boot
boot_package = "boot"

window_title = "test4"

// Linux-only configs
linux = {
	renderer = {
		resolution = [ 820 200 ]
		vsync = true
	}
}

// Windows-only configs
windows = {
	renderer = {
		resolution = [ 800 600 ]
		vsync = true
	}
}
